<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Lista de coisas</h1>
        <p class="lead">Botão leva até o URL de Ligar o microondas</p>
        <p><a href="/MicrowaveRun/Index" class="btn btn-primary btn-md">Ligar</a></p>
        <p class="lead">Botão leva até o URL de Criar modos</p>
        <p><a href="/MicrowaveCreate/Index" class="btn btn-primary btn-md">Criar</a></p>
        <p class="lead">Botão leva até o URL de Deletar modos</p>
        <p><a href="/MicrowaveDelete/Index" class="btn btn-primary btn-md">Deletar</a></p>
    </section>
</main>